<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SANotificationRegistrationURL</key>
	<string>https://tx.tiqr.org/tokenexchange/?appId=</string>
	<key>TIQRAuthenticationURLScheme</key>
	<string>tiqrauth</string>
	<key>TIQREnrollmentURLScheme</key>
	<string>tiqrenroll</string>
</dict>
</plist>
